<!doctype html>
<html lang="en">
<head>
    <title>Пункты сдачи вторсырья</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=<89182932-e0e9-4f0c-817f-32c2c6f15023>&lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <img src = "/garbage/photo/back.png" onclick="print_dots(-1, true)" 
                    width = "50" height = "50" id = "arrow" style="display: none;">
                <div class="sidebar-sticky" id = "list">
                    <h2 id = "title_garbage"> Категории мусора </h2> 
                    <div class="nav flex-column" id = "list_garbage">
                        {% block sidebar %}
                        {% endblock sidebar %}
                    </div>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block main %}
                {% endblock %}
            </main>
        </div>
    </div>
    
</body>
</html>