{% extends "map_yandex/wrapper.html" %}

{% block content %}


    <script type="text/javascript">
        ymaps.ready(init);    
        function init(){ 
            var myMap = new ymaps.Map("map", {
                center: [52.29778, 104.29639],
                zoom: 3,
                controls: ['zoomControl', 'searchControl', 'typeSelector', 'routeButtonControl']
            });
            myMap.geoObjects      
            {% for dot in dots %}              
                .add(new ymaps.Placemark([{{ dot.x }}, {{ dot.y }}], {
                    balloonContentHeader: '<a href = "#">{{dot.name}}</a><br>' +
                        '<span class="description">{{dot.description}}</span>' + 
                        '<p>Здесь принимают {{dot.category}} </p>',
                    balloonContentBody: '<img src="{{dot.image.url}}" height="150" width="200"> <br/> ' +
                    '<p>{{dot.working_hours}}</p>',
                    hintContent: 'Очередная точка'
                }))
            {% endfor %}
            ;
        }
    </script>

    
    <div id = "map" style = "width: 100%; height: 750px"></div> 




{% endblock %} 
