{% extends 'admin/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block extrahead %}
{% if request.path == '/admin/garbage_map/category/' %} 
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="{% static 'less/recycle.less' %}" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
        $(function(){
            if (window.location.pathname == '/admin/garbage_map/category/')
            {
                var CATEGORIES_URL = '{% url 'get_cat' %}';
                var SAVE_ORDER_URL = '{% url 'save_order' %}';

                $.get(CATEGORIES_URL).done(function(cats){
                    $('#content-main').append('<h2> Порядок отображения категорий </h2>');
                    $('#content-main').append(
                        '<div class="catblock" style = "width: 20%;"><div class="catlist" id = "slist_garbage">' +  
                        '</div> </div>'
                    );
                    for (var i = 0; i < cats.length; i++)
                    {
                        $('.catlist').append(
                            '<div id="' + cats[i].id + '" class="catlist__item catlist__item_' + cats[i].image +'">' + 
                                '<div class="catlist__name">' + cats[i].name + '</div>' +
                            '</div>'
                        );
                        //<div class="catlist__item {% if cat.icon_class %}catlist__item_{{ cat.icon_class }}{% endif %}" onClick="view_category({{ cat.pk }})">
                    }
                    $('.catlist').sortable({
                        connectWith: "div"
                    });
                    $('.catlist').disableSelection();
                    $('.catblock').append('<input type="button" id="save_order" value="Сохранить порядок" name="_anotherbutton" style="margin: 10px 0px 0px 0px; padding: 5px 10px 5px 10px;"/>');
                    $('#save_order').click(function() {
                        var new_order = [];
                        for (var i = 0; i < cats.length; i++)
                        {
                            var id = $('.catlist').children()[i].id;
                            new_order.push(
                            {
                                id: id,
                                order: i
                            });
                        }
                        new_order = JSON.stringify(new_order);
                        $.get(SAVE_ORDER_URL, {'new_order': new_order});
                        
                    });
                }); 
            }
        });
    </script>


{% endif %}
{% endblock %}

{% block footer %}
    {% if request.path == '/admin/garbage_map/category/' %} 
        <script>
            var less = {
                javascriptEnabled: true
            };
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    {% endif %}
{% endblock %}