{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=89182932-e0e9-4f0c-817f-32c2c6f15023&lang=ru_RU" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        var myMap;
        $(function(){
            $('.form-row.field-addres > div:first-child').append(' <input type="button" id = "get_but" value="{% trans 'Получить координаты' %}" name="_anotherbutton" style="margin: 0px 0px 0px 25px; padding: 5px 10px 5px 10px;"/>');
            $('.form-row.field-addres').append(' <div id = "map" style = "width: 500px; height: 500px; padding: 10px 0px 10px 0px;"></div> ');
            $('#get_but').click(function() {
                get_coords($('#id_addres').val());
            });
            ymaps.ready(init);
            function init()
            { 
                myMap = new ymaps.Map("map", {
                    center: [52.287054, 104.281047],   
                    zoom: 16,
                    controls: ['zoomControl'],
                    scroll: false
                });
                myMap.behaviors.disable(['drag']);
                show_dots(-1, true);        
            }
        });

        function get_coords(address) 
        {
            ymaps.geocode(address, { results: 1 }).then(function (res) 
            {
                var firstGeoObject = res.geoObjects.get(0);
                var cords = firstGeoObject.geometry.getCoordinates();
                $('#id_x').val(cords[0]);
                $('#id_y').val(cords[1]);
                show_dot(cords[0], cords[1]);
            });
        }
        function show_dot(x, y)
        {
            myMap.geoObjects.removeAll();
            myMap.setCenter([x, y], 16, {
                checkZoomRange: true
            });
            myMap.geoObjects           
                .add(new ymaps.Placemark([x, y])); 
                
        }

    </script>
{% endblock %}
