{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=<89182932-e0e9-4f0c-817f-32c2c6f15023>&lang=ru_RU" type="text/javascript"></script>
        
    <script type="text/javascript">
        
        function get_coords(address) 
        {
            ymaps.geocode(address, { results: 1 }).then(function (res) 
            {
                var firstGeoObject = res.geoObjects.get(0);
                var cords = firstGeoObject.geometry.getCoordinates();
                document.getElementById('id_x').value = cords[0];
                document.getElementById('id_y').value = cords[1];
                
                
            });

        } 
    </script>
{% endblock %}

{% block submit_buttons_bottom %}
    <input type="text" onChange="get_coords(this.value)"/> 
    <input type="button" value="{% trans 'Another Button' %}" name="_anotherbutton" />
    {{ block.super }}
{% endblock %}
