{% extends "garbage_map/wrapper.html" %}
{% load staticfiles %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="{% static 'less/recycle.less' %}" />
{% endblock %}

{% block sidebar %}
    <div class="recycle__header">
        <a href="/" class="recycle__logo"></a>
        <a href="#" class="hamburger j-hamburger">
            <div class="hamburger__line hamburger__line_top"></div>
            <div class="hamburger__line hamburger__line_middle"></div>
            <div class="hamburger__line hamburger__line_bottom"></div>
        </a>
    </div>
    <div id="view_index">
        <div class="recycle__header2">
            Выберите категорию
        </div>

        {% spaceless %}
        <div class="catlist" id = "slist_garbage">
        {% for cat in categories %} 
            <div class="catlist__item {% if cat.icon_class %}catlist__item_{{ cat.icon_class }}{% endif %}" onClick="view_category({{cat.pk}}, false)">
                {% if cat.image %}
                <img src = "{{ cat.image.url }}">
                {% endif %}
                <div class="catlist__name">{{ cat.name|safe }}</div>
            </div>
        {% endfor %}
        </div>
        {% endspaceless %}
    </div>
    
    <div id="view_category" style="display:none">
        <div class="row sidebar_title">
            <img src = "/garbage/photo/back.svg" onclick="view_index()" id = "arrow">
            <h2  id = "title_garbage">Определенная категория</h2>
        </div>
    </div>

    <div id="view_firm" style="display:none">
        <div class="row sidebar_title">
            <img src = "/garbage/photo/back.svg" onclick="view_category(-1)" id = "arrow">
            <h2 id = "title_garbage">Какая-то фирма</h2>
        </div>
    </div>
{% endblock %}

{% block main %}
    <script>
        var dots = {{ dots_json|safe }};
        var categories = {{ categories_json|safe }};
        var div_list, myMap, last_cat;
        $(function(){
            ymaps.ready(init);
        });
    </script>

    
    <div id = "map" style = "width: 100%; height: 100vh"></div> 

{% endblock %} 


{% block bottom_scripts %}
    <script>
        var less = {
            javascriptEnabled: true
        };
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
{% endblock %}
