{% load staticfiles %}
<!doctype html>
<html lang="ru">
<head>
    <title>Пункты сдачи вторсырья</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=89182932-e0e9-4f0c-817f-32c2c6f15023&lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static 'js/map_dots.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
        
    <div class="recycle container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-white sidebar px-0 navbar">
                <div class="sidebar-sticky">  
                    {% block sidebar %}
                    {% endblock sidebar %}
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-0">
                {% block main %}
                {% endblock %}
            </main>

        </div>
    </div>

    {% block bottom_scripts %}{% endblock %}
    
</body>
</html>
